/* here is "work sans" font from google font */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* here is universal styles */

* {
  font-family: "Work Sans", sans-serif;
}

/* here is common share style */
.primary-button {
  border-radius: 8px;
  background: var(--primary-orange-color);
  color: var(--white01);
  padding: 20px 24px;
  text-align: center;
  font-family: Work Sans;
  font-weight: 600;
  margin: 30px 0px 50px;
  border: none;
  cursor: pointer;
}

/* here is css variable */

:root {
  --primary-orange-color: rgba(255, 144, 14, 1);
  --black01: rgba(19, 19, 19, 1);
  --black02: rgba(66, 66, 66, 1);
  --black03: rgba(114, 114, 114, 1);
  --white01: rgba(255, 255, 255, 1);
}

/* here is header section */

header {
  background-color: rgba(255, 144, 14, 0.1);
}

/* here is navigation section */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
}
.nav-title {
  color: var(--black01);
  text-align: center;
  font-family: Work Sans;
  font-size: 2.82rem;
  font-weight: 700;
}

nav > ul {
  display: flex;
}

nav > ul li {
  list-style: none;
  margin: 0px 20px;
}

nav > ul li a {
  text-decoration: none;
  color: var(--black02);
  text-align: center;
  font-family: Work Sans;
  font-size: 1.108rem;
  font-weight: 500;
  line-height: 26px;
}

/* finished navigation section */

/* here is banner section */

.banner-content {
  margin: 0px 330px 30px;
  text-align: center;
}

.banner-title {
  padding: 0px 100px;
  color: var(--black01);
  text-align: center;
  font-family: Work Sans;
  font-size: 4rem;
  font-weight: 700;
}
.banner-title > span {
  display: block;
}

.banner-description {
  color: var(--black03);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.banner-section-image {
  max-width: 1400px;
  margin: 0px auto;
  padding-bottom: 45px;
}
.banner-section img {
  width: 100%;
}

/* finished banner section */

/* finished header section */

/* here is main section */

main {
  max-width: 1440px;
  margin: 0 auto;
}

/* here is features section */

.feature-container {
  display: flex;
  gap: 70px;
  align-items: center;
  max-width: 1300px;
  margin: 130px auto;
}
.feature-container div {
  width: 50%;
}

.feature-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.feature-image-container img {
  width: 100%;
  height: 100%;
}

.light-item {
  color: var(--black03);
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 500;
}

.dark-item {
  color: var(--black01);
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
}

.orange-item {
  color: #ff900e;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  display: block;
}
.feature-section-description {
  color: var(--black03);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* finished features section */

/* here is responsive media queries for small device like mobile phone */

@media screen and (max-width: 586px) {
  .nav-title {
    font-size: 1.5rem;
  }
  nav {
    flex-direction: column;
    padding: 0px 10px;
  }
  nav > ul li {
    margin: 0px 5px;
  }
  nav > ul {
    position: relative;
    right: 20px;
  }
  .banner-content {
    margin: 5px;
  }
  .banner-title {
    padding: 5px;
    font-size: 2rem;
  }
}

/* here is responsive media queries for medium device like tablet or similar device  */

@media screen and (min-width: 586px) and (max-width: 960px) {
  .nav-title {
    font-size: 2rem;
  }
  nav {
    flex-direction: column;
    padding: 0px 10px;
  }
  nav > ul li {
    margin: 0px 5px;
  }
  nav > ul {
    position: relative;
    right: 20px;
  }
  .banner-content {
    margin: 5px;
  }
  .banner-title {
    padding: 5px;
    font-size: 3rem;
  }
  .banner-description {
    padding: 0px 2px;
  }
}
